.root {
  min-height: 100vh !important;

  .header {
    z-index: 10;
    background-color: var(--white);
    box-shadow: 0 2px 8px #0000000d;
    position: sticky;
    top: 0;
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .side-bar {
    background-color: var(--white);
    box-shadow: 7px 0 60px #0000000d;
    position: fixed;
    left: 0;
    height: 100vh;
  }

  .wrapper {
    padding-left: 300px;
    transition: padding 0.2s;

    &.collapsed {
      padding-left: 80px;
    }

    .container {
      height: 100%;

      background-color: transparent;
    }
  }
}
